/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sp-center_smile_h {
  background-image: url(icon.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.sp-fail_list {
  background-image: url(icon.png);
  background-position: -20px 0px;
  width: 10px;
  height: 10px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .sp-center_smile_h {
    background-image: url(../output/sprite/icon@2x.png);
    background-size: 30px 20px;
  }
  .sp-fail_list {
    background-image: url(../output/sprite/icon@2x.png);
    background-size: 30px 20px;
  }
}
